<!DOCTYPE html>
<html>
<head>

</head>
<body>

<div>회람</div>
<table style="width:100%">

  <tr height="10">
    <th>QC</th>
    <th>자재</th>
    <th>영업</th>

    <th colspan="3">
      <div class ="w3-container">
        <input type ="radio" class="w3-button w3-black" value="생산">생산
        <input type ="radio" class="w3-button w3-black" value="생산">생산
      </div>
    </th>

    

    <th>작성</th>
    <th>검토</th>
    <th>승인</th>
  </tr>

  <tr>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
      <td rowspan="2"></td>
    </tr>

  <tr>
  </tr>

  <tr>
      <td>/</td>
      <td>/</td>
      <td>/</td>
      <td colspan="3">/</td>
      <td>/</td>
      <td>/</td>
      <td>/</td>
 
  </tr>

  <tr>
    <td>생산요청NO</td>
    <td colspan="4"></td>
    <td rowspan="5"></td>
    <td colspan="4" rowspan="5"></td>
  </tr>

  <tr>
    <td>공정명</td>
    <td colspan="4"></td>
  </tr>

  <tr>
    <td>제품명</td>
    <td colspan="4"></td>
  </tr>

    <tr>
      <td>작업지시일</td>
      <td colspan="4"></td>
    </tr>

    <tr>
       <td>작업일</td>
       <td colspan="4"></td>
     </tr>

     <tr>
       <td rowspan="33"> 내 용 </td>
       <td colspan="3"> 제품구조 </td>
       <td colspan="5"></td>
     </tr>

     <tr>
       <td colspan="8"></td>
     </tr>

     <tr>
        <td></td>
        <td colspan="3"> Black PET 75</td>
        <td colspan="4"></td>
      </tr>

      <tr>
          <td></td>
          <td colspan="3"> Black PET 75</td>
          <td colspan="4"></td>
        </tr>

        <tr>
            <td></td>
            <td colspan="3"> Black PET 75</td>
            <td colspan="4"></td>
          </tr>  

          <tr>
              <td colspan="8"></td>
          </tr>


          <tr>
              <td colspan="3"> 원단규격 </td>
              <td colspan="5"></td>
            </tr>

           <tr>
              <td colspan="8"></td>
           </tr> 

           <tr>
             <td colspan="2"></td>
             <table>
               <tr>
               <th>NO</th>
               <th>원단명</th>
               <th>LOT</th>
               <th>규격</th>
               <th>수량</th>
               <th>비고</th>
               </tr>

               <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                   </tr>

                   <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                     <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </table>
                  <td colspan="6"></td>
           </tr>
       

</table>

</body>
</html>
