<html>
  <head>
  </head>
  <body>

      <h2>This is best Enterprise. Choose one of these </h2>
      
          <form>
            <input type="radio" name ="samsung" value="samsung" checked>samsung
            <input type="radio" name ="kia" value="kia">KIA
            <input type="radio" name ="FaceBook" value="FaceBook">FaceBook
            <input type="radio" name ="Micube" value="Micube"> Micube
            <input type="radio" name ="Apple" value="Apple">Apple
            <input type="radio" name ="Apple" value="Apple">Apple<br>
          </form>

    <table>
      <tr>
        <th> Company </th>
        <th> CEO  </th>
        <th> Country </th>
      </tr>
      
      <tr>
        <td> FaceBook </td>
        <td> J.bug </td>
        <td> USA</td>
      </tr>

      <tr>
          <td> Google </td>
          <td> soonsung </td>
          <td> USA</td>
        </tr>

        <tr>
            <td> Apple </td>
            <td> jobs </td>
            <td> USA</td>
          </tr>

          <tr>
              <td> samsung </td>
              <td> KH.lee </td>
              <td> KOREA</td>
            </tr>

            <tr>
                <td> KIA </td>
                <td> mk.Jeong </td>
                <td> KOREA</td>
              </tr>

              <tr>
                  <td> Micube </td>
                  <td> TJ.kim </td>
                  <td> KOREA</td>
                </tr>

    </table>

    <form action="" autocomplete="on">
      

    </form>

  </body>
</html>
