<nav>

	<ul class="nav" [ngClass]="(show ===true)?'hide-it':'show-it'">
		<a routerLink="localimage" class="btn btn-primary active" role="button" routerLinkActive="active">Image</a>
		<a routerLink="findbyimagename"	class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">DB</a>
		<a routerLink="timer" class="btn btn-primary active" role="button" routerLinkActive="active">timer</a>
		<a routerLink="page" class="btn btn-primary active" role="button" routerLinkActive="active">Page</a>
		<a routerLink="excel" class="btn btn-primary active" role="button" routerLinkActive="active">Excel</a>
		<a routerLink="newpage" class="btn btn-primary active" role="button" routerLinkActive="active">newpage</a>
	</ul>
</nav>
	<router-outlet></router-outlet>



