<div style="padding: 20px;">
	<h2 style="color: blue">SSH - Angular Application!</h2>
	<nav>
		<a routerLink="localimage" class="btn btn-primary active" role="button" routerLinkActive="active">Image</a>
		<a routerLink="findbyimagename"	class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
		<a routerLink="customer" class="btn btn-primary active" role="button" routerLinkActive="active">DB</a>
		<a routerLink="timer" class="btn btn-primary active" role="button" routerLinkActive="active">timer</a>

		
		
	</nav>
	<router-outlet></router-outlet>
</div>