<div class="filebox preview-image"> 
  <input class="upload-name" value="파일경로" disabled="disabled" id="filepath"> 
  <label for="input-file">파일선택</label> 
  <input type="file" id="input-file" class="upload-hidden" (change)="changeListner($event)">  
</div>

<div>
    <img id="image">
</div>

<div class="filebox">
       <input type="text" class="upload-name" id="imagename" required [(ngModel)]="customer.imageName" name="imagename">
       <button class="btn" (click)="dbsave($event)">save</button>
</div>
    


